@charset "utf-8";
body {
    background-color: black;
    color: white;
}
nav {
    height: 600px;
    width: 200px;
    padding: 5px;
    float: left;
    line-height: 30px;
}
footer {
    text-align: center;
    margin-right: 200px;
}
#meme1 {
    margin-right: 200px;
	
}
h1 {
    text-align: center;
}


/* Not specified in assignment, but I figured it looked nicer this way. */

.subtext1 {
    text-align: center;
}
